@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,300&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  height: 100vh;
  width: 100%;
  background: #D3D4D9;
}

.center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.title {
  font-family: "Playfair Display", serif;
}

.text {
  font-family: "Source Serif Pro", serif;
}

.separatorBlack {
  height: 2px;
  width: 50%;
  border: none;
  background: #000;
  margin: 30px auto;
}

.btnCustom {
  background-color: #060047;
  font-family: "Source Serif Pro", serif;
  color: #fff;
  transition: 0.5s;
  transition-property: background-color, color;
}
.btnCustom:hover {
  background-color: #FCC5CC;
  color: #000;
}

.logo {
  border-radius: 10px;
  width: 150px;
  border: solid 2px #fff;
  margin-left: 0px;
  max-width: 100px;
  box-shadow: 10px 5px 5px white;
}

.nb {
  font-size: 0.6em;
}

nav {
  background-color: #060047;
  box-shadow: 1px 1px 3px pink;
}

.titleNavBar {
  font-size: 20px;
  font-weight: 800;
  font-family: "Playfair Display", serif;
  color: #fff;
}
.titleNavBar .beforeNav {
  color: #FCC5CC;
  text-transform: uppercase;
}

/* Slideshow container */
.slideshow {
  max-width: 70%;
  max-height: 50vh;
  position: relative;
  top: 10px;
  margin: auto;
}

/* Hide the images by default */
.slides, .slidesAdm, .slidesEspace {
  display: none;
  width: 100%;
  height: auto;
  text-align: center;
}
.slides img, .slidesAdm img, .slidesEspace img {
  width: 400px;
  max-height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.activeImg {
  display: block;
  opacity: 1;
}

/* Next & previous buttons */
.prev, .next, .prevAdm, .nextAdm, .prevEspace, .nextEspace {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.prev:hover, .next:hover, .prevAdm:hover, .nextAdm:hover, .prevEspace:hover, .nextEspace:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Position the "next button" to the right */
.next, .nextAdm, .nextEspace {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.caption {
  color: #000;
  font-size: 15px;
  font-family: "Source Serif Pro", serif;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fadeImg {
  -webkit-animation-name: fadeImg;
          animation-name: fadeImg;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fadeImg {
  from {
    Opacity: 0.5;
  }
  to {
    Opacity: 1;
  }
}

@keyframes fadeImg {
  from {
    Opacity: 0.5;
  }
  to {
    Opacity: 1;
  }
}
footer {
  background-color: #060047;
  margin-top: 50px;
  border-top: #FCC5CC solid 2px;
  box-shadow: 1px 1px 3px #fff;
  border-radius: 3px;
  color: #fff;
  transition: 0.3s;
  transition-property: font-weight, color;
}
footer a:hover {
  color: pink;
  font-weight: 800;
}
footer .boxFooterBlack {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: right;
}
footer .boxFooterBlack .address p, footer .boxFooterBlack .address i {
  padding: 10px 10px 10px 0;
}
footer .boxFooterBlack .footerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
footer .boxFooterBlack .footerMenu li {
  padding: 10px 0;
}
footer .copyright {
  font-size: 0.8em;
  border-top: #FCC5CC solid 1px;
  text-align: center;
}

/********MEDIA QUERY POUR ECRAN 540PX  ***********/
/******min-width 540px**************/
@media screen and (min-width: 540px) {
  .footerContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 0;
  }
  .footerContact .footerMenu {
    padding-right: 20px;
  }
  .footerContact .footerMenu li {
    padding: 10px 0;
  }
}
/********MEDIA QUERY POUR ECRAN 992PX  *********** */
/******min-width 992px**************/
@media screen and (min-width: 992px) {
  .footerContact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }
  .footerContact .footerMenu {
    padding-right: 0px;
  }
}
.introIndex {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 6px;
}

.boxIntroIndex {
  width: 80%;
  height: 30vh;
  border: solid 2px #fff;
  border-radius: 3px;
  background-color: pink;
  color: #000;
  text-align: center;
}

.titleIntro {
  font-size: 20px;
  font-weight: 800;
  font-family: "Playfair Display", serif;
  color: #000;
}

.gitLink {
  transition: 0.5s;
  transition-property: color, font-weight;
}
.gitLink:hover {
  color: #fff;
  font-weight: 600;
}

.animationIntroIndex {
  position: absolute;
  left: 50%;
  top: 8%;
  transform: translateY(-90%);
  transform: translateX(-50%);
  -webkit-animation: introIndex 2.5s ease forwards;
          animation: introIndex 2.5s ease forwards;
}

@-webkit-keyframes introIndex {
  from {
    Left: -100%;
  }
  to {
    Left: 50%;
  }
}

@keyframes introIndex {
  from {
    Left: -100%;
  }
  to {
    Left: 50%;
  }
}
.punchline {
  position: absolute;
  top: 42%;
  left: 10%;
  right: 10%;
  text-align: center;
  font-weight: 600;
  font-size: 1.2em;
}

.animationLangageIndex {
  position: absolute;
  right: -100%;
  top: 100%;
  transform: translateY(-50%);
  -webkit-animation: langageIndex 5s ease forwards;
          animation: langageIndex 5s ease forwards;
}

@-webkit-keyframes langageIndex {
  from {
    Right: -100%;
  }
  to {
    Right: 10%;
  }
}

@keyframes langageIndex {
  from {
    Right: -100%;
  }
  to {
    Right: 10%;
  }
}
.boxLink {
  position: absolute;
  top: 100%;
}

.projetIndex {
  margin-top: 150px;
}

.titleProjet {
  font-family: "Playfair Display", serif;
  color: #000;
  font-size: 2.6em;
  text-align: center;
  margin: 20px 0;
  padding-bottom: 20px;
}

.boxProjetIndex {
  margin-top: 50px;
  max-width: 600px;
  max-height: 600px;
}

.titleBoxProjet {
  font-family: "Playfair Display", serif;
  text-align: center;
  padding-bottom: 10px;
}

.fristImg {
  width: 350px;
  height: 350px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  margin-bottom: 10px;
}

/********MEDIA QUERY POUR ECRAN 992PX  ***********/
/******min-width 992px**************/
@media screen and (min-width: 768px) {
  .punchline {
    top: 40%;
  }
  .animationLangageIndex {
    top: 85%;
  }
}
.titleRealisation {
  font-size: 20px;
  font-weight: 800;
  font-family: "Playfair Display", serif;
  color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
}

.slideInRight {
  font-family: "Source Serif Pro", serif;
  -webkit-animation: slideInRight 2s ease-in-out;
          animation: slideInRight 2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  transform: translateX(100%);
}

@-webkit-keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
.slideInLeft {
  font-family: "Source Serif Pro", serif;
  -webkit-animation: slideInLeft 4s ease-in-out;
          animation: slideInLeft 4s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  transform: translateX(-100%);
}

@-webkit-keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
.realisationParagraph {
  background-color: #D3D4D9;
  color: #000;
  font-family: "Source Serif Pro", serif;
  border: solid #060047 30px;
  border-radius: 5px;
  max-width: 400px;
  margin: auto;
}

.cardAbout {
  width: 18rem;
  height: 15rem;
  margin: 30px;
  border-radius: 5%;
  box-shadow: 10px 5px 5px #060047;
}
.cardAbout .card-header {
  text-align: center;
  font-family: "Playfair Display", serif;
  background-color: #060047;
  color: #FCC5CC;
  font-weight: 800;
}
.cardAbout .card-body {
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
  text-align: center;
}

.aboutParagraph {
  background-color: #D3D4D9;
  color: #000;
  font-family: "Source Serif Pro", serif;
  border: solid #060047 30px;
  border-radius: 5px;
}
.aboutParagraph p {
  font-weight: 600;
  font-size: 1.2em;
  padding: 20px;
  text-align: center;
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
  transition: 0.3s;
  transition-property: color, font-weight;
}
.contact a:hover {
  color: #fff;
  font-weight: 600;
}
.contact .titleContact {
  padding-bottom: 30px;
  font-size: 2em;
  font-family: "Playfair Display", serif;
}
.contact p {
  font-family: "Source Serif Pro", serif;
  font-weight: 800;
  padding: 10px 0;
}

.form {
  background-color: #060047;
  color: #fff;
  font-family: "Source Serif Pro", serif;
  font-weight: 800;
  border: solid 2px;
  max-width: 750px;
  margin: 50px 0;
  padding: 20px;
  border-radius: 2%;
  box-shadow: 5px 5px 50px #000;
}
.form p {
  text-align: center;
}
.form .btnContact {
  background-color: #fff;
  color: #000;
  border: solid 2px;
  font-weight: 600;
  border-radius: 3%;
  transition: 0.5s;
  transition-property: color, background-color;
  margin: auto;
  display: flex;
  align-items: center;
}
.form .btnContact:hover {
  background-color: #FCC5CC;
  color: #000;
}

.invalid {
  color: red;
}

.valid {
  color: green;
}

.icon {
  padding-right: 10px;
  font-size: 1.2em;
}/*# sourceMappingURL=styles.css.map */