footer
    width: 100%
    margin-top: 50px
    padding-right: 15px
    // border: solid 2px pink
    // background-color: #343a40
    color: #000
    transition: 0.3s
    transition-property: font-weight, color
    & a:hover
        color: #ffff 
        font-weight: 800
    & i 
        padding-right: 10px
        
.footerContact
    // display: flex
    // flex-direction: column
    text-align: right

.footerLogo
    text-align: center

// .footerMenu
//     text-align: right
//         margin: 0px
//         display: flex
//         text-align: right
//         & i 
//             padding-right: 10px
//         & .footer__logo
//             display: flex
//             justify-content: center
//             align-items: center
//             padding-top: 20px
//         & .footer__reseau__sociaux
//             margin: 50px 0px
//             & .reseau
//                 transition: 0.3s
//                 transition-property: font-weight, color
//                 & .reseau:hover
//                     color: pink 
//                     font-weight: 800

// .accueil__footer__menuNavigation li
//     padding: 10px
    
    

    
.copyright
    font-size: 0.9em 
    transition: 0.3s
    transition-property: color, font-weight
    & a:hover 
        color: #fff
        font-weight:800


/********MEDIA QUERY POUR ECRAN 560PX  ***********/
/******min-width 560px**************/
@include media($sm)
    .footerContact
        text-align: center
    // footer
    //     padding-right: 10px
    // .address
    //     flex



/********MEDIA QUERY POUR ECRAN 992PX  ***********
/******min-width 992px**************/
@include media($lg)
    