footer
    width: 100%
    margin-top: 50px
    // padding-right: 15px
    color: #000
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    transition: 0.3s
    transition-property: font-weight, color
    & a:hover
        color: pink 
        font-weight: 800
    & i 
        padding-right: 10px

.boxFooterBlack
    // width: 100%
    max-width: 900px
    border: solid 2px pink
    background-color: #000
    color: #fff
    text-align: right
    
.footerLogo
    text-align: center

.copyright
    font-size: 0.9em 
    transition: 0.3s
    transition-property: color, font-weight
    & a:hover 
        color: #fff
        font-weight:800


/********MEDIA QUERY POUR ECRAN 560PX  ***********/
/******min-width 560px**************/
@include media($sm)
    .boxFooterBlack
        display: flex
        flex-direction: row
        justify-content: center
        align-content: center



/********MEDIA QUERY POUR ECRAN 992PX  ***********
/******min-width 992px**************/
@include media($lg)
    