.modal-content
    border: solid 2px #fff
    background-color: #524e4e  
    font-family: $title
    & .btnModal
        color: #fff
        background: #201e1e
        transition: 0.3s
        transition-property: color, background
        &:hover
            color: #000
            background: #fff