// STYLE TITLE start
.titleCustom
    font-size: 20px
    font-weight: 800
    font-family: $title
    & .before
        color: pink
        text-transform: uppercase

.titleCard
    color: black
    font-weight: 700
    & .beforeCard
        color: pink
        text-transform: uppercase

.titleIndex
    font-size: 2.6em
    text-align: center
    margin: 20px 0
    padding-bottom: 20px
// STYLE TITLE end
// Style Police start
.title
    font-family: $title

.text
    font-family: $text
// Style Police end
    
// STYLE btn start
.btnCustom
    background-color: pink
    transition: 0.5s
    transition-property: background-color, color
    &:hover
        background-color: black
        color: pink

.btnContact
    background-color: #fff
    color: #000
    border: solid 2px
    font-weight: 600
    border-radius: 3%
    transition: 0.3s
    transition-property: color, background-color
    text-align: center
    margin: auto
    display: flex
    align-items: center
    &:hover 
        background-color: pink
        color: #000
// STYLE btn end

// Style logo start
.logo
    border-radius: 10px
    width: 150px
    border: solid 2px #fff
    margin-left: 0px
    max-width: 100px
    box-shadow: 10px 5px 5px white
// Style logo end

// Icone page Contact start
.icon
    padding-right: 20px
// Icone page Contact end

// Style General start
.underline
    text-decoration: underline

.shadowWhite
    text-shadow: 1px 1px 2px #fff, 0 0 1em #fff, 0 0 0.2em #fff
    color: #000

.shadowBlack
    text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000
    color: #fff


// Style General end

nav
    background-color: #000

/********MEDIA QUERY POUR ECRAN 992PX  ***********/
/******min-width 992px**************/
@include media($lg)
    .icon
        padding-right: 10px
