//Police Start

//title
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap')

//text
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,300&display=swap')
    
//font-family: 'Playfair Display', serif;
$title: 'Playfair Display', serif

//font-family: 'Source Serif Pro', serif;
$text: 'Source Serif Pro', serif

//Police End

//taille ecran
$xs: 0,
$sm: 540px,
$md: 768px,
$lg: 992px,
$xl: 1200px,
$xxl: 1400px


// Color 
$pink: #FCC5CC
$blueD: #060047
$grey: #D3D4D9

