.contactBg
    // background-image: url("../../../img/background/bg.svg")
    background: #000000  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000)  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000) 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff
    & .contact
        display: flex
        align-items: center
        flex-direction: column
        text-align: center
        margin-top: 40px
        transition: 0.3s
        transition-property: color, font-weight
        & a:hover 
            color: pink
            font-weight: 600
    & .form
        // background-color: pink
        background-color: rgba(0, 0, 0, 0.256)
        border: solid 2px 
        max-width: 450px
        margin-top: 50px
        padding: 0 20px
        border-radius: 3%
        // box-shadow: 5px 5px 50px #000


.invalid
    color: red

.valid
    color: green 


.titleCol
    padding-bottom: 20px
    // color: #fff
    // text-shadow: 1px 1px 2px #000, 0 0 1em pink, 0 0 0.2em pink


/********MEDIA QUERY POUR ECRAN 992PX  ***********/
/******min-width 992px**************/
@include media($xl)
    .contactCol
        display: flex
        flex-direction: row
        justify-content: space-around
        align-content: space-around


/********MEDIA QUERY POUR ECRAN 1200PX  ***********/
/******min-width 1200px**************/
@include media($xl)
