.contact
    display: flex
    align-items: center
    flex-direction: column
    text-align: center
    margin-top: 40px
    transition: 0.3s
    transition-property: color, font-weight
    & a:hover 
        color: #fff
        font-weight: 600
    & .titleContact
        padding-bottom: 30px
        font-size: 2em
        font-family: $title
    & p 
        font-family: $text
        font-weight: 800
        padding: 10px 0

.form
    background-color: $blueD
    color: #fff
    font-family: $text
    font-weight: 800
    border: solid 2px 
    max-width: 750px
    margin: 50px 0
    padding: 20px
    border-radius: 2%
    box-shadow: 5px 5px 50px #000
    & p 
        text-align: center
    & .btnContact
        background-color: #fff
        color: #000
        border: solid 2px
        font-weight: 600
        border-radius: 3%
        transition: 0.5s
        transition-property: color, background-color
        margin: auto
        display: flex
        align-items: center
        &:hover 
            background-color: $pink
            color: #000

.invalid
    color: red

.valid
    color: green 

// Icone page Contact start
.icon
    padding-right: 10px
    font-size: 1.2em
// Icone page Contact end

