.index
    background: rgb(255,192,203)
    background: linear-gradient(0deg, rgba(255,192,203,1) 0%, rgba(0,0,0,1) 55%)
    color: #fff
    height: 100%
    font-family: $text

.intro
    display: flex
    justify-content: center
    align-content: center
    background-color: rgba(0, 0, 0, 0.756)
    border: solid black 1px
    border-radius: 5px
    box-shadow: inset 0 0 1em pink, 0 0 2em black
    margin: 30px
    padding: 20px 10px
    max-width: 500px
    & p, i 
        color: pink
        padding-right: 10px
        font-size: 1.1em
        transition: 0.5s
        transition-property: color
    & p
        &:hover
            color: #fff
            font-weight: 600
            


.about
    color: #fff
    & h3
        color: pink
    & h4
        font-size: 1.8em
        padding-bottom: 10px
        text-align: center
    & .aboutParagraph
        display: flex
        justify-content: center
        align-content: center
        background-color: rgba(0, 0, 0, 0.756)
        border: solid black 1px
        border-radius: 5px
        box-shadow: inset 0 0 1em pink, 0 0 2em black
        margin: 30px
        margin-bottom: 60px
        padding: 25px
        max-width: 900px


.listIndex
    font-size: 1.2em
    text-align: justify 
    & .listOrd
        color: pink 
        & li 
            list-style-type: circle
            padding: 10px 0
            color: #fff


.myProject
    font-size: 1.3em
    height: auto
    // border: solid 2px pink
    // text-indent: 10%
    margin-top: 40px
    & h4 
        font-size: 1.4em
    & h5, h6 
        font-size: 0.7em

.boxId
    border: solid 2px pink
    box-shadow: 0 0 5px white 
    margin: 100px 0
    max-width: 500px
    margin: auto

// img
//     width: 400px
//     height: 400px
//     object-fit: scale-down

// .imgIndex
//     width: 400px
//     height: 400px
//     object-fit: contain
//test galery =>non
// .gallery
    // display: flex
    // justify-content: space-around
    // align-content: center
//     max-width: 1300px
//     margin: 20px auto 0
//     margin-bottom: 10px

// .items img
//     width: 200px
//     height: 150px
//     border-radius: 5%

// .items
//     width: 200px
//     height: 150px
//     margin: 10px
//     overflow: hidden
//     flex-shrink: 0
