.realisation
    background: rgb(255,192,203)
    background: linear-gradient(0deg, rgba(255,192,203,1) 0%, rgba(0,0,0,1) 55%)    
    height: 100%
    color: #fff
    



/********MEDIA QUERY POUR ECRAN 992PX  ***********/
/******min-width 992px**************/
@include media($sm)
